.title {
  &--main {
    font-size: 6rem;
    line-height: 1.25;
    font-family: $fontBase;
    font-weight: $medium;
    letter-spacing: .2rem;
    @include tablet {
      font-size: 4.8rem;
    }
    @include mobile {
      font-size: 3rem;
    }
  }
  &--h1 {
    font-size: 5rem;
    line-height: 1.25;
    font-family: $fontBase;
    font-weight: $light;
    @include tablet {
      font-size: 3.4rem;
    }
    @include mobile {
      font-size: 2.6rem;
    }
  }
  &--h2 {
    font-size: 3.8rem;
    line-height: 1.35;
    font-family: $fontBase;
    font-weight: $regular;
    @include tablet {
      font-size: 3.4rem;
    }
    @include mobile {
      font-size: 3.2rem;
    }
  }
}

.text {
  &--24 {
    font-size: 2.4rem;
    line-height: 1.41;
    font-family: $fontBase;
    @include tablet {
      font-size: 2rem;
      line-height: 1.5;
    }
    @include mobile {
      font-size: 1.8rem;
      line-height: 1.5;
    }
  }
  &--18 {
    font-size: 1.8rem;
    line-height: 1.25;
    font-family: $fontBase;
    @include mobile {
      font-size: 1.6rem;
    }
  }
  &--16 {
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: .05rem;
    font-family: $fontBase;
  }
  &--13 {
    font-size: 1.3rem;
    line-height: 1.25;
    font-family: $fontBase;
  }
  &--12 {
    font-size: 1.2rem;
    line-height: 1.25;
    font-family: $fontBase;
  }
}

.ttu {
  text-transform: uppercase;
}

.ls1 {
  letter-spacing: .1rem;
}

.medium {
  font-weight: $medium;
}

.bold {
  font-weight: $bold;
}

.link {
  color: $black17;
  outline: none;
  text-decoration: none;
  transition: color .2s ease, border-color .2s ease;
  &:active {
    color: $brown;
  }
  @include desktop {
    &:hover {
      color: $brown;
    }
  }

  &.link--tdu {
    border-bottom: 1px solid currentColor;
    padding-bottom: .25rem;
    &:active {
      border-color: transparent;
    }
    @include desktop {
      &:hover {
        border-color: transparent;
      }
    }
  }

  &.link--white {
    color: $white;
  }

  &.link--brown {
    color: $brown;
  }
}