$widthTablet: 768px;
$widthDesktop: 1025px;

@mixin absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin backdrop {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba($white,0.72);
  transition: background-color .3s ease;
  .isOpen & {
    background-color: $white;
  }
}

@mixin mobile {
  @media (max-width: #{$widthTablet - 1px}) {
    @content;
  }
}

@mixin mobile_tablet {
  @media (max-width: #{$widthDesktop - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$widthTablet}) and (max-width: #{$widthDesktop - 1px}) {
    @content;
  }
}

@mixin tablet_desktop {
  @media (min-width: #{$widthTablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$widthDesktop}) {
    @content;
  }
}
